.container {
    width: 200px;
    padding: 20px;
    background-color: #f9f9f9; 
    text-align: center;
    font-family: Arial, sans-serif;
  }
h2{
    color: #333; 
    margin-bottom: 15px;
    font-size: 25px;
  }
  .fetch-button {
    padding: 10px 20px; 
    background-color: #F85606; 
    font-weight: 600;
    color: white; 
    border: none;
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s; 
  }
  .fetch-button:hover {
    background-color:  #f85706ac; 
  }
  #recommendation-result {
    position: fixed;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 35px;
    border-radius: 4px;
    font-weight: bold;
    color: aliceblue;
    z-index: 9999;
    background-color: #702601; 
    padding: 10px;
    text-align: center;
    font-size: 16px; 
    font-family: Arial, sans-serif;
    margin: 10px 0;
    width: 30%; 
}
.close-icon{
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 24px;
    color: aliceblue;
    font-weight: bold;
    cursor: pointer;
}
.result-container {
    
}